.float {
  float: left;
}
.clear{
  clear:both
}
.box{
  width: 100px;
  height: 100px;
}
.box1{
  background-color: skyblue;
}
.box2{
  background-color: pink;
}
.box3{
  background-color: yellowgreen;
  float: right;
}
.box4{
  background-color: magenta;
  margin: auto;
}
.container{
  height: 200px;
  border: 1px solid wheat;
  overflow: scroll;
}