/*@media : 미디어 쿼리를 쓸거임
 screen : 미디어 타임 -화면
 and: 조건들을 연결해주는 논리연산자
 max-width: 조건.. 아래코드는 최대 너비가 500px일때까지만 적용
 */


/* 해당 조건에 만족할 경우 적용할 css 코드 */
*{
  box-sizing: border-box;
}
.container{
  background: pink;
  height: 2000px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.container>div{
  background: skyblue;
  width: 20%;
  height: 200px;
  margin: 5px;
}

@media (max-width:425px){
  .container{
    flex-direction: column;
}
}
.container>div{
  width: 100%;
  height: 150px;
}

@media (min-width: 426px) and (max-width: 768px){
  .container{
    align-content: flex-start;
  }

  .container>div{
    width: 45%;
    height: 150px;
  }
}

.header1{
  height: 100px;
  background: yellowgreen;
}
.header2{
  height: 100px;
  background: skyblue
}

@media (max-width:768px){
  .header1{
    display: none;
  }
  .header2{
    display: block;
  }
}
@media(min-width:769){
  .header1{
    display: block;
  }
  .header2{
    display: none;
  }
}

.card{
  font-size: 16px;
  padding: 1em;
}
.card>h1{
  font-size: 1.5em;
}
.card>p{
  margin: 0.5px;
}